<connectionStrings>
  <clear />
    <add name="EPiServerDB" connectionString="Data Source=172.16.238.13;Initial Catalog=vipps-cms;Integrated Security=False;User ID=sa;Password=;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="EcfSqlConnection" connectionString="Data Source=172.16.238.13;Initial Catalog=vipps-commerce;Integrated Security=False;User ID=sa;Password=;Connect Timeout=10;Application Name=ECApplication" providerName="System.Data.SqlClient" />
</connectionStrings>
