@model EPiServer.Reference.Commerce.Site.Features.Payment.PaymentMethods.VippsPaymentMethod

@Html.HiddenFor(model => model.SystemKeyword)

<div class="alert alert-info">
    <p>@Model.Description</p>
</div>